@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Android';
    src: url(./fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root {
    --cor1: #012030;
    --cor2: #13678A;
    --cor3: #45C4B0;
    --cor4: #90eb9b;
    --cor5: #DAFDBA;

    --fonte-android: 'Android'
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor5);
    text-align: justify;
}
p{
    margin: 15px 0px;
}
h1{
    font-family: var(--fonte-android);
    font-size: 30px;
}
h2{
    font-family: var(--fonte-android);
    font-size: 20px;
    color: #012030;
    background-image: linear-gradient(to right, var(--cor3), transparent);                    /*novo*/
}

header{
    background-color: var(--cor1);
    font-family: var(--fonte-android);
    color: whitesmoke;
    min-height: 150px;                                                                      /*novo*/  
    text-align: center;
    padding-top: 40px;
}
header > p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header h1{
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 3px 5px 10px black;
}

nav{
    background-color: var(--cor2);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition-duration: 0.5s;                                              /*novo*/
    padding: 10px;
}
nav > a:hover{
    background-color: var(--cor3);
    color: white
}

main{
    min-width: 300px;                                                    /*importante*/
    max-width: 1000px;
    margin: auto;
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 17px 1px rgb(0 0 0 / 41%);
}
main p{
    line-height: 20px;                                               /*novo*/
    font-size: 17.5px;
    color: black;
}
main a{
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
}
main h1{
    color: #012030;
}

aside{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
aside > h3{
    background-color: rgba(0, 128, 0, 0.437);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
}
aside > ul{
    list-style-position: inside;                                              /*novo*/
    list-style-type: '\2714\00a0';
    columns: 2;                                                             /*novo*/
}
footer{
    background-color: var(--cor3);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.505);
    text-align: center;
    font-size: 17px;
}
footer > a{
    text-decoration: none;
    padding: 3px 5px;
}
footer a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.751);
}

.bug-pequeno{
    max-width: 400px;
    display: block;
    margin: auto;
}
.video{
    background-color: rgba(0, 128, 0, 0.784);
    margin: 10px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 3%;
    bottom: 5%;
    width: 90%;
    height: 90%;
}